logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
*.swp
*.lock
*.js
*.db
!.autod.conf.js



app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

!app/**/shell.js
!app/util/shell/*.js
!app/util/shell/**/*.js
!app/util/amazon/*.js
!app/util/amazon/**/*.js
!bin/*.js
!ci.js
!yarn.lock
!.eslintrc.js
.launch.json
dist
/dist
!bin/flow/public/GooFlow.js
